.profileContainer form {
    margin-bottom: 3em;
}

.passChangeForm {
    max-width: 20em;
    display: flex;
    flex-direction: column;
}

.passChangeForm .passChangeContainer {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.nameChangeForm {
    max-width: 20em;
    display: flex;
    flex-direction: column;
}

.nameChangeForm .nameChangeContainer {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.submitErrorMessage{
    margin-bottom: 1em;
    margin-top: -2em;
}

.profileContainer h1 {
    margin-bottom: 0.5em;
}

.myReadBookContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.myReadBookContainer h3:first-child {
    display: list-item;
    text-decoration: underline;
}

.myReadBookContainer button {
    margin-bottom: 1em;
}

.readList {
    margin-top: 2em;
}

.myReadBookContainer button {
    padding: 5px 18px;
     border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #941111;
    font-size: 1rem;
    max-width: 7em;
}

