.header {
  background-color: #dcbe87;
  display:flex;
  justify-content:space-between;
  padding: 0.5em
}
.header__heading a{
    text-decoration:none;
    font-size: 2vw;
}
.header__searchBar{
    display:inline-flex;
}
a{
    margin-top:auto;
}

.loginLink {
    margin-top: 0.7em;
}
.profiles {
    display: flex;
    flex-direction: column;
}